# Ex1 - Filtering and Sorting Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [2]:
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

### Step 3. Assign it to a variable called chipo.

In [45]:
url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv'
chipo = pd.read_csv(url, sep = '\t')

### Step 4. How many products cost more than $10.00?

In [36]:
float_prices = [float(value[1 : -1]) for value in chipo.item_price]
chipo.item_price = float_prices        #get all prices to be a float becuase of the $ sign 


chipo_clean = chipo.drop_duplicates(['item_name','quantity','choice_description'])
chipo_clean      #cleaned without doubles


chipo_single = chipo_clean[chipo_clean.quantity == 1]
chipo_single

print(chipo_single[chipo_single['item_price']>10].item_name.nunique())
chipo_single[chipo_single['item_price']>10]

25

,order_id,quantity,item_name,choice_description,item_price
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",10.98
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",11.75
13,7,1,Chicken Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",11.25
23,12,1,Chicken Burrito,"[[Tomatillo-Green Chili Salsa (Medium), Tomati...",10.98
39,19,1,Barbacoa Bowl,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",11.75
...,...,...,...,...,...
4593,1825,1,Carnitas Bowl,"[Roasted Chili Corn Salsa, [Rice, Sour Cream, ...",11.75
4594,1825,1,Barbacoa Bowl,"[Roasted Chili Corn Salsa, [Pinto Beans, Sour ...",11.75
4607,1829,1,Steak Burrito,"[Tomatillo Green Chili Salsa, [Rice, Cheese, S...",11.75
4610,1830,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",11.75
4611,1830,1,Veggie Burrito,"[Tomatillo Green Chili Salsa, [Rice, Fajita Ve...",11.25

### Step 5. What is the price of each item? 
###### print a data frame with only two columns item_name and item_price

In [40]:
# delete the duplicates in item_name and quantity
chipo_clean = chipo.drop_duplicates(['item_name','quantity'])
chipo[(chipo['item_name'] == 'Chicken Bowl') & (chipo['quantity'] == 1)]

chipo_single = chipo_clean[chipo_clean.quantity == 1]  #quantity equal to one only

price_per = chipo_single[['item_name', 'item_price']]

price_per.sort_values(by = "item_price", ascending = False).head(20)  #sort values from high to low

                  item_name item_price
92       Steak Crispy Tacos     $9.25
554   Carnitas Crispy Tacos     $9.25
237     Carnitas Soft Tacos     $9.25
56      Barbacoa Soft Tacos     $9.25
8          Steak Soft Tacos     $9.25
21         Barbacoa Burrito     $8.99
664             Steak Salad     $8.99
54               Steak Bowl     $8.99
33            Carnitas Bowl     $8.99
27         Carnitas Burrito     $8.99
3750         Carnitas Salad     $8.99
12       Chicken Soft Tacos     $8.75
11     Chicken Crispy Tacos     $8.75
44       Chicken Salad Bowl     $8.75
16          Chicken Burrito     $8.49
1694           Veggie Salad     $8.49
1653    Veggie Crispy Tacos     $8.49
1414                  Salad     $7.40
673                    Bowl     $7.40
520            Crispy Tacos     $7.40

### Step 6. Sort by the name of the item

In [47]:
chipo.item_name.sort_values()

3389    6 Pack Soft Drink
341     6 Pack Soft Drink
1849    6 Pack Soft Drink
1860    6 Pack Soft Drink
2713    6 Pack Soft Drink
              ...
2384    Veggie Soft Tacos
781     Veggie Soft Tacos
2851    Veggie Soft Tacos
1699    Veggie Soft Tacos
1395    Veggie Soft Tacos
Name: item_name, Length: 4622, dtype: object

### Step 7. What was the quantity of the most expensive item ordered?

In [46]:
chipo.sort_values(by = "item_price", ascending = False).head(1)

,order_id,quantity,item_name,choice_description,item_price
2624,1042,1,Steak Salad Bowl,"[Fresh Tomato Salsa, [Black Beans, Sour Cream,...",$9.39

### Step 8. How many times was a Veggie Salad Bowl ordered?

In [49]:
chipo_salad = chipo[chipo.item_name == "Veggie Salad Bowl"]
len(chipo_salad)

18

### Step 9. How many times did someone order more than one Canned Soda?

In [48]:
chipo_drink_steak_bowl = chipo[(chipo.item_name == "Canned Soda") & (chipo.quantity > 1)]
len(chipo_drink_steak_bowl)

20